.medicine-card {
  background: white;
  border-radius: 15px;
  padding: 28px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);

  transition: 0.3s;
}

.medicine-card:hover {
  transform: translateY(-5px);
}

.medicine-icon {
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #e8f8ee;
  border-radius: 12px;

  font-size: 27px;
  margin-bottom: 20px;
}

.medicine-card h3 {
  margin: 0 0 15px;
  font-size: 21px;
}

.medicine-card p {
  color: #666;
  margin: 9px 0;
}

.medicine-card strong {
  color: #222;
}

.green-button {
  width: 100%;
  margin-top: 20px;

  padding: 13px;

  border: none;
  border-radius: 8px;

  background: #16a85a;
  color: white;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}
