.medicine-card {
  background: whitesmoke;
  border-radius: 15px;
  padding: 28px;
}

.medicine-card h3 {
  font-size: 21px;
}

.green-button {
  width: 80%;
  margin-top: 20px;

  padding: 13px;

  border: none;
  border-radius: 8px;

  background: green;
  color: white;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}
@media (max-width: 768px) {
  .medicine-card {
    padding: 20px;
    border-radius: 12px;
  }

  .medicine-card h3 {
    font-size: 18px;
  }

  .green-button {
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }
}
