.search-input {
  width: 450px;
  padding: 14px;

  border: 1px solid #ddd;
  border-radius: 8px;

  background: white;
  font-size: 15px;
}

.search-input:focus {
  border-color: green;
}

@media (max-width: 600px) {
  .search-input {
    width: 100%;
  }
}
.search-container {
  position: relative;
  width: 100%;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;

  z-index: 1000;

  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 12px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  border-bottom: 1px solid #eee;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

.suggestion-item strong {
  color: #222;
}

.suggestion-item span {
  color: #777;
  font-size: 14px;
}
