.my-medicine-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.my-medicine-card {
  background: white;
  border-radius: 15px;
  padding: 30px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
}
@media (max-width: 768px) {
  .my-medicine-list {
    gap: 15px;
  }

  .my-medicine-card {
    padding: 20px;
    border-radius: 12px;
  }
}
