MONGO_URI=mongodb://medtrack1:tanveer123@ac-ukwky0c-shard-00-00.9stsg8g.mongodb.net:27017,ac-ukwky0c-shard-00-01.9stsg8g.mongodb.net:27017,ac-ukwky0c-shard-00-02.9stsg8g.mongodb.net:27017/?ssl=true&replicaSet=atlas-990my8-shard-0&authSource=admin&appName=Cluster